# Unity Cache Folders
.vs/
Temp/
Library/
Logs/
Obj/
Build/

# User settings
UserSettings/
*.csproj
*.sln
*.user
*.pidb
*.unityproj
.vs/Bootcamp-43/v17/.suo
.vs/Bootcamp-43/v17/DocumentLayout.backup.json
.vs/Bootcamp-43/v17/DocumentLayout.json
